<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>失敗頁面</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>  
    <div class="uppermost">
        <div class="uppermosttext">失敗頁面</div>
    </div>
    <br/>
    <div class="message">{{message}}</div>     
</body>
</html>