<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員系統</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="uppermost">
    <div class="uppermosttext">歡迎光臨，請輸入帳號密碼</div>
    </div>
    <br/>
    <br/>
    <div class="message">登入系統</div>
    <br/>
    <br/>
    <div class="item">
    <form action="/signin" method="POST">
      帳號&nbsp&nbsp<input type="text" style="width:200px; height:20px;" name="account" />
        <br/>
        <br/>
      密碼&nbsp&nbsp<input type="password" style="width:200px; height:20px;" name="password" />
        <br/>
        <br/>
        <button>登入</button>
    </form>
    </div>
    <br/>
    <br/>
    <hr><!-- <hr>--------------------------------------------- -->
    <br/>
    <br/>
    <div class="message">計算正整數的平方</div>
    <br/>
    <br/>
    <div class="item">
    <form action="/calculate">
      正整數&nbsp&nbsp<input type="text" style="width:200px; height:20px;" name="num" />
      <br/>
      <br/>
      <button>計算</button>
    </form>
    </div>
</body>
</html>